@page
@model PhamMinhThong_B3W_A02.Pages.Admin.AdminPageModel
@{
    Layout = "_Layout";
}
<h1 class="text-center">ADMIN PAGE</h1>



<div class="text-center">
    <a asp-page="./CustomerManagement" class="btn btn-primary m-2">Manage Customer</a>
    <a asp-page="./CarManagement" class="btn btn-primary m-2">Manage Car Information</a>
    <a asp-page="./RentingManagement" class="btn btn-primary m-2">Manage Renting</a>
    @*<a asp-page="./GenerateReport" class="btn btn-primary m-2">Generate Report</a>*@
</div>